.vscode
__pycache__

/target
*.pyd
*.dll
*.exe
*.so
*.pth
*.json.gz
/mortal/built/tensorboard*/
view-logs/generated_htmls/*.html
view-logs/generated_htmls/files*/

.ipynb_checkpoints
*.ipynb

/_draft
